html, body {
    font: 16pt arial;
}
#viz {
    width: 900px;
    height: 700px;
    margin: 20px;
    border: 1px solid lightgray;
    font: 22pt arial;
    display: inline-block;
}

@media (max-width: 768px) {
    #viz {
        width: 600px;
        height: 466px;
    }
}

.filter {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.section {
    margin: 15px;
    font-size: 20px;
}

.statistics {
    color: crimson;
    font-size: 18px;
}
label {
    font-size: 18px;
}
